asgiref==3.8.1
certifi==2024.12.14
charset-normalizer==3.4.0
Django==5.1.4
django-cors-headers==4.6.0
django-tastypie==0.15.0
idna==3.10
pillow==11.0.0
psycopg==3.2.3
pycodestyle==2.12.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-mimeparse==2.0.0
requests==2.32.3
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.12.2
urllib3==2.2.3
